.signature {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: -20px !important;
}

.signature .socials{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signature .socials i{
  color: #3b759e;
  margin-right: 5px;
}

.intro {
  margin-top: 50px;
}

.slide-background-content {
  filter: opacity(.5)
}