.signature {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.signature .socials{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signature .socials i{
  color: #3b759e;
  margin-right: 5px;
}